<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Inscripción Amigo Secreto Código Moda</title>
</head>
<body>
    <form action="/my-handling-form-page" method="post">
        <ul>
         <li>
           <label for="name">Nombre:</label>
           <input type="text" id="name" name="user_name">
         </li>
         <li>
           <label for="mail">Correo electrónico:</label>
           <input type="email" id="mail" name="user_mail">
         </li>
         <li>
            <label for="number">Celular:</label>
            <input type="number" id="celular" name="user_celphone">
          </li>
         <li>
           <label for="msg">¿Que me gusta?:</label>
           <textarea id="msg" name="user_message"></textarea>
         </li>
         <li>
            <label for="msg">¿Que no me gusta?:</label>
            <textarea id="msg" name="user_message2"></textarea>
          </li>
          <li>
            <label for="msg">¿Tengo algún tipo de alergias?:</label>
            <textarea id="msg" name="user_message3"></textarea>
          </li>
         <li>
            <select data-label="Area" name="area">
                <option value="Marca">Equipo de Marca</option>
                <option value="Mercadeo">Equipo de Mercadeo</option>
                <option value="Abastecimiento">Equipo de Abastecimiento</option>
                <option value="Comercial">Equipo Comercial</option>
                <option value="Industrial">Equipo Industrial</option>
                <option value="Manufactura">Equipo de Manufactura</option>
                <option value="Logistica">Equipo de Logística</option>
                <option value="Tecnologia">Equipo de Tecnología</option>
                <option value="Financiero">Equipo Financiero</option>
                <option value="Desarrollo">Equipo de Desarrollo</option>
                <option value="Juridico">Equipo Jurídico</option>
                <option value="Nuevos Negocios">Equipo de Nuevos Negocios</option>
            </select>
          </li>
        </ul>
       </form>
</body>
</html>