<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amigo Secreto Código Moda</title>
</head>
<body>
    <h1>Bienvenidos a nuestro Amigo Secreto</h1>
    <p>Gracias por ser parte de nuestra familia, fuiste invitado a jugar Amigo Secreto con tus compañeros, puede ser que te toquen personas a las que aún no conoces pero te daremos todas las pistas necesarias para que la encuentres!!!!</p>
    <h3>Reglas</h3>
    <lu>
        <li>1. Ten en cuenta que los colaboradores de Linea Directa pueden tener diferentes gustos y lee el perfil de la persona que te toco para que lo conozcas un poco mejor.</li>
        <li>2. Las endulzabas deben ser de un valor aproximado de $5000 debes estar pendiente de las fechas para que no se te pase el momento de realizarlas.</li>
        <li>3. Los regalos al final de la actividad deben tener un valor de $50000, posteriormente daremos a conocer la fecha y el lugar del descubrimiento.</li>
        
    </lu>
    <div class="button">
        <div class="buttonRegister">
            <a href="/formularioInscripcion">Formulario de Inscripción</a>
        </div>      
    </div>
</body>
</html>